// Set the plugin path for your HeldenSoftware here.
// e.g. Linux
// pluginPath = ~/heldensoftware/plugins
// e.g. Windows
// pluginPath = %AppData%/HeldenSoftware/plugins
// HINT: Don't include use quotes.

pluginPath =
